<div class="app-header">
    <span>Nombre de la Aplicación Bancaria</span>
</div>
<div class="app">
    <div class="message-container">
        <div class="message">
            <div class="message-title">Transferencia</div>
            <div class="message-value">$100.00</div>
        </div>
        <div class="message">
            <div class="message-title">Transferencia</div>
            <div class="message-value">$250.00</div>
        </div>
        <div class="message">
            <div class="message-title">Transferencia</div>
            <div class="message-value">$500.00</div>
        </div>
        <div class="message">
            <div class="message-title">Transferencia</div>
            <div class="message-value">$75.00</div>
        </div>
    </div>
</div>