<div class="app-header">
  <span>Aplicación Bancaria</span>
</div>
<div class="app">
  <div class="column">
      <img src="assets/Perfil.png" alt="Imagen 1">
      <div class="form-group">
          <label for="email1">Correo Electrónico</label>
          <input type="email" id="email1" placeholder="Ingrese su correo electrónico">
      </div>
      <div class="form-group">
          <label for="saldo">SALDO</label>
          <p>$5,000.00</p>
      </div>
  </div>
  <div class="column">
      <img src="assets/USER.png" alt="Imagen 2">
      <div class="form-group">
          <label for="email2">Correo Electrónico</label>
          <input type="email" id="email2" placeholder="Ingrese su correo electrónico">
      </div>
      <div class="form-group">
          <label for="monto">MONTO</label>
          <input type="number" id="monto" step="0.01" placeholder="Ingrese el monto">
      </div>
  </div>
  <div class="button-container">
      <button type="button">ENVIAR</button>
  </div>
</div>