<body>
  <div class="header">
      <span>Aplicación Bancaria</span>
  </div>
  <div class="user-card">
      <div class="user-info">
          <h2>Información del Usuario</h2>
          <img src="assets/Perfil.png" alt="Imagen de Usuario">
          <p><strong>Nombres:</strong> Christopher</p>
          <p><strong>Apellidos:</strong> Macas</p>
          <p><strong>Cuenta:</strong> 764873287947</p>
          <p><strong>Saldo:</strong> <span class="saldo">$5,000.00</span></p>
      </div>
  </div>
</body>
