<div class="app-header">
    <span>Aplicación Bancaria</span>
  </div>
  <div class="app">
    <div class="column">
        <div class="column-title">Datos del Solicitante</div>
        <div class="form-group">
            <label for="planillaLuz">Planilla de Luz</label>
            <input type="file" id="planillaLuz">
        </div>
        <div class="form-group">
            <label for="cedula">Cédula</label>
            <input type="number" id="cedula" maxlength="10" placeholder="Ingrese su Cedula">
        </div>
        <div class="form-group">
            <label for="certificadoVotacion">Certificado de Votación</label>
            <input type="file" id="certificadoVotacion">
        </div>
        <div class="form-group">
            <label for="rolPagos">Rol de Pagos</label>
            <input type="file" id="rolPagos">
        </div>
        <div class="form-group">
            <label for="correoElectronico">Correo Electrónico</label>
            <input type="email" id="correoElectronico" placeholder="Ingrese su correo electrónico">
        </div>
    </div>
    <div class="column">
        <div class="column-title">Datos del Garante</div>
        <div class="form-group">
            <label for="planillaLuzGarante">Planilla de Luz</label>
            <input type="file" id="planillaLuzGarante">
        </div>
        <div class="form-group">
            <label for="cedulaGarante">Cédula</label>
            <input type="number" id="cedulaGarante" maxlength="10" placeholder="Ingrese su Cedula">
        </div>
        <div class="form-group">
            <label for="certificadoVotacionGarante">Certificado de Votación</label>
            <input type="file" id="certificadoVotacionGarante">
        </div>
        <div class="form-group">
            <label for="rolPagosGarante">Rol de Pagos</label>
            <input type="file" id="rolPagosGarante">
        </div>
        <div class="form-group">
            <label for="correoElectronicoGarante">Correo Electrónico</label>
            <input type="email" id="correoElectronicoGarante" placeholder="Ingrese su correo electrónico">
        </div>
    </div>
    <div class="button-container">
        <button type="button">Enviar Formulario</button>
    </div>
  </div>